form {
  margin: 0 auto;
  max-width: rem(600);
}

.form__row {
  @include display(flex);

  &:not(:last-child) {
    margin-bottom: $small-spacing;
  }
}

.form__input {
  @include flex(1 0 0);

  &:not(:last-child) {
    margin-right: $small-spacing;
  }
}

input[type='text'],
input[type='email'] {
  @include transition(all .1s ease-in);
  -webkit-appearance: none;
  border: 2px solid $light-gray;
  border-radius: $border-radius;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding: rem(12);
  width: 100%;

  &:focus {
    border-color: shade($light-gray, 10%);
  }
}
