* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  background: $white;
  color: $dark-gray;
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: $base-line-height;
  min-height: 100vh;
  padding: 0px 0px 120px 0px;
  position: relative;
}

html {
  font-size: 100%;

  @media ($small-monitor) {
    font-size: 96%;
  }

  @media ($ipad) {
    font-size: 93%;
  }

  @media ($mobile) {
    font-size: 85%;
  }
}

svg {
  display: block;
}
