.l-third {
  width: 33%;
}

.l-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(1000);
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.l-mbs   { margin-bottom: $smallest-spacing; }
.l-mbm   { margin-bottom: $small-spacing;    }
.l-mbl   { margin-bottom: $base-spacing;     }
.l-mbxl  { margin-bottom: $large-spacing;    }
.l-mbxxl { margin-bottom: $largest-spacing;  }

.l-mls   { margin-left: $smallest-spacing; }
.l-mlm   { margin-left: $small-spacing;    }
.l-mll   { margin-left: $base-spacing;     }
.l-mlxl  { margin-left: $large-spacing;    }
.l-mlxxl { margin-left: $largest-spacing;  }

.l-mrs   { margin-right: $smallest-spacing; }
.l-mrm   { margin-right: $small-spacing;    }
.l-mrl   { margin-right: $base-spacing;     }
.l-mrxl  { margin-right: $large-spacing;    }
.l-mrxxl { margin-right: $largest-spacing;  }

.l-mts   { margin-top: $smallest-spacing; }
.l-mtm   { margin-top: $small-spacing;    }
.l-mtl   { margin-top: $base-spacing;     }
.l-mtxl  { margin-top: $large-spacing;    }
.l-mtxxl { margin-top: $largest-spacing;  }
