.collage {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  padding: 0 $base-spacing;

  &.is-active {
    .collage__image img {
      @include filter(grayscale(0));
    }
  }
}

.collage__column {
  @include align-content(center);
  @include display(flex);
  @include flex(1 0 auto);
  @include flex-wrap(wrap);
  min-width: rem(290);
  max-width: rem(440);
  width: 33%;

  @media ($mobile) {
    width: 100%;
  }
}

.collage__column--optional {
  @media ($small-monitor) {
    display: none;
  }

  @media ($ipad) {
    display: none;
  }

  @media ($mobile) {
    display: none;
  }
}

.collage__image {
  padding: rem(2);
  position: relative;
  width: 100%;

  img {
    @include filter(grayscale(1));
    @include transition(all 2s ease-in-out);
    border-radius: $border-radius;
    display: block;
    width: 100%;
  }
}

.collage__image--small {
  width: 50%;
}

// Animations
@include keyframes(hang) {
  0%   { @include transform(translateY(0)); }
  50%  { @include transform(translateY(-4px)); }
  100% { @include transform(translateY(0)); }
}

@include keyframes(wobble) {
  0%   { margin-left: 0px; }
  50%  { margin-left: -2px; }
  100% { margin-left: 0px; }
}

.collage__marker {
  @include animation(hang 1.4s ease-in-out infinite);
  @include animation-direction(alternate);
  @include size(rem(24));
  background: $primary-brand-color;
  border: 3px solid $white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(black, .6);
  cursor: pointer;
  position: absolute;

  &:after {
    @include transition(all .2s ease-in-out);
    @include transform(translateY(-40px) scale(.1));
    @include position(absolute, 130% nil nil 50%);
    background: $primary-brand-color;
    border: 2px solid $white;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(black, .6);
    box-sizing: border-box;
    color: $white;
    content: attr(rel);
    display: block;
    font-size: rem(11);
    margin-left: rem(-75);
    opacity: 0;
    padding: rem(6);
    text-align: left;
    width: rem(150);
    z-index: 8;
  }

  &:hover, &.hover {
    @include animation(none);

    &:after {
      @include transform(translateY(0) scale(1));
      opacity: 1;
    }
  }
}
