header {
  @include align-items(center);
  @include display(flex);
  @include position(fixed, 0 0 nil 0);
  @include transition(all .5s ease-in-out);
  background: rgba($white, 0);
  border-top: 2px solid transparent;
  height: rem(60); 
  padding-left: $base-spacing;
  padding-right: $base-spacing; 
  z-index: 10;

  &.is-active {
    background: rgba($white, 1);
    box-shadow: 0 4px 4px rgba(black, .15);
    border-top-color: $primary-brand-color;

    .header__nav__link {
      color: $dark-gray;
    }

    .header__nav__link--bold {
      color: $white;
    }

    .logo .spotted {
      fill: $dark-gray;
    }
  }
}

.header__nav {
  @include align-items(center);
  @include display(flex);
  margin-left: auto;
}

.header__nav__link {
  color: $white;
  display: block;
  font-family: $heading-font-family;
  font-size: rem(13);
  font-weight: bold;
  opacity: .85;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $white;
    opacity: 1;
    text-decoration: none;
  }

  &:not(:last-child) {
    margin-right: $base-spacing;
  }

  @media($ipad) {
    display: none;
  }

  @media($mobile) {
    display: none;
  }
}

.header__nav__link--bold {
  background: $primary-brand-color;
  border-radius: $border-radius;
  box-shadow: 0 1px 1px rgba(black, .2);
  opacity: 1;
  padding: rem(4) rem(10);
  text-shadow: 0 -1px 1px rgba(black, .1);

  &:hover {
    background: shade($primary-brand-color, 15%);
  }


  @media($ipad) {
    display: block;
  }

  @media($mobile) {
    display: block;
  }
}

.logo .spotted {
  @include transition(all .5s ease-in-out);
}
