.hero {
  height: calc(100vh * .85);
  overflow: hidden;
  padding: 0 $base-spacing;
  position: relative;
}

.hero__image {
  @include filter(grayscale(1) brightness(.33));
  @include position(absolute, 0 0 0 0);
  background: url('../images/going-places.jpg') center center;
  background-size: cover;
  z-index: 1;
}

.hero__video {
  @include filter(grayscale(1) brightness(.33));
  @include position(absolute, 0 0 nil 0);
  z-index: 2;

  @media($mobile) {
    display: none;
  }
}

.hero__content {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  @include display(flex);
  @include position(absolute, 0 0 0 0);
  padding: 0 $base-spacing;
  z-index: 3;

  h1, h2 {
    text-shadow: 0 0 30px rgba(black, 1), 2px 2px 0px rgba(black, .3);
  }

  h2 {
    font-size: rem(28);
    font-weight: 300;
    margin: $base-spacing 0 rem(36) 0;
    text-transform: none;
  }

  .button {
    font-size: rem(16);
    box-shadow: 0 2px 6px rgba(black, .5);
    padding: rem(16) rem(54);
  }
}
