* {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

a {
  @include transition(all .2s ease-in-out);
  color: $green;

  &:hover {
    @include transition(all .2s ease-in-out);
    color: $orange;
  }
}

blockquote {
  background: $dust;
  border-left: 5px solid $blue;
  font-size: .92em;
  margin: ($vertical-margin - 10) 0;
  padding: 20px;
}

body {
  color: $gray;
  font-family: 'Esteban', serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h1 {
  @extend %header;
  color: $blue;
  font-size: 3.7em;
}

h2 {
  @extend %header;
  color: $blue;
  font-size: 2.8em;
}

h3 {
  @extend %header;
  color: $orange;
  font-size: 1em;
}

hr {
  background: $dust;
  border: none;
  box-shadow: none;
  height: 5px;
  margin: ($vertical-margin * 3) 0;
  width: 100%;
}

nav {
  @include transition(all .2s ease-in-out);
  background: darken($blue, 20%);
  height: 14px;
  opacity: 0;
  padding: 20px 0 22px 0;
  position: fixed;
  top: -56px;
  width: 100%;
  z-index: 9999;

  &.is-visible {
    @include transition(all .2s ease-in-out);
    opacity: 1;
    top: 0;
  }
}

p {
  line-height: 1.3;
  margin: ($vertical-margin - 10) 0;
}

section {
  position: relative;
}

strong {
  color: #000;
}

ul {
  font-size: 0.6em;
  margin: 0;
  padding: 0;
}