.l-centered {
  margin: 0 auto;
  text-align: center;

  * {
    text-align: center;
  }
}

.l-left {
  float: left;
}

.l-mts { margin-top: $vertical-margin; }
.l-mtm { margin-top: $vertical-margin * 2; }
.l-mtl { margin-top: $vertical-margin * 3; }
.l-mbs { margin-bottom: $vertical-margin; }
.l-mbm { margin-bottom: $vertical-margin * 2; }
.l-mbl { margin-bottom: $vertical-margin * 3; }

.l-right {
  float:right;
}

.l-wrap {
  margin: 0 auto;
  max-width: 750px;
  width: 90%;
}