$blue: #538baf;
$orange: #ff7200;
$green: #83b85f;
$dust: #f9f7f6;
$ice: #f3f7f8;
$gray: #444444;

$vertical-margin: 40px;

%header {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}